*, *::after, *::before {
  box-sizing: border-box !important;
}

.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
}

.header, .main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

HTML, BODY, P, H1, H2, H3, H4, H5, H6 {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

UL, OL {
  list-style: none;
  margin: 0;
  padding: 0;
}

A {
  color: inherit;
  display: block !important;
  text-decoration: none !important;
}

BUTTON {
  padding: 0;
  border: none;
  background: none;
}

INPUT {
  background: transparent;
  border: none;
  padding: 0;
}

INPUT:focus {
  outline: none;
}

ADDRESS {
  margin: 0;
}

.close, .close:hover {
  opacity: 1 !important;
}

A:not(.navigation__link--tel, .popup__link), IMG, H1, H2, H3, P:not(.popup__text-1), .button__text, ::placeholder, .name-warning, .tel-warning{
  user-select: none;
}