:root {
    --mainColor1: #FFFFFF;
    --mainColor2: #0C1417;
    --mainColor3: #F7931E;

    --textColor: #FFFFFF;
    --textColor2: #F7931E;
    --textColor3: rgba(255, 255, 255, 0.5);
    --textColor4: #0C1417;
    --textColor5: rgba(12, 20, 23, 0.5);
    --textColor6: rgba(255, 255, 255, 0.7);
    --linkHover: #f7a71e91;
    --mainBg: #0C1417;
    --secondaryBg: #FFFFFF;
    --invalidWarning: #FF0000;
}